<a href="https://colab.research.google.com/github/amritigupta/GoogleWE_Python/blob/main/pandaspractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)

In [1]:
import pandas as pd
import numpy as np

In [2]:
dict1={

    "name" : ['harry','rohan','skillf','shubh'],
    "marks" : [92,34,24,17],
    "city" : ['rampur','kolkata','bareilly','antartica']
}

In [3]:
df=pd.DataFrame(dict1)

In [4]:
df.to_csv('friends.csv', index= False)

In [5]:
df.head(2)

    name  marks     city
0  harry     92   rampur
1  rohan     34  kolkata

In [6]:
df.tail(2)

     name  marks       city
2  skillf     24   bareilly
3   shubh     17  antartica

In [7]:
df.describe()

          marks
count   4.00000
mean   41.75000
std    34.21866
min    17.00000
25%    22.25000
50%    29.00000
75%    48.50000
max    92.00000

In [8]:
harry = pd.read_csv('harry.csv')

FileNotFoundError: ignored

In [ ]:
harry

In [ ]:
harry['Speed'][0]=50

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
harry

In [ ]:
harry.to_csv('harry.csv')

In [ ]:
harry.index=['first','second','third', 'fourth']

In [ ]:
harry

In [9]:
ser = pd.Series(np.random.rand(34))

In [10]:
ser

0     0.533401
1     0.527229
2     0.385494
3     0.582546
4     0.843940
5     0.643233
6     0.363495
7     0.197444
8     0.177631
9     0.827851
10    0.216870
11    0.354366
12    0.011074
13    0.148369
14    0.628032
15    0.965025
16    0.659645
17    0.453204
18    0.521880
19    0.635397
20    0.944627
21    0.132706
22    0.460577
23    0.249951
24    0.674304
25    0.593813
26    0.043006
27    0.254559
28    0.720199
29    0.490206
30    0.136283
31    0.837905
32    0.611079
33    0.236772
dtype: float64

In [11]:
type(ser)

pandas.core.series.Series

In [12]:
newdf= pd.DataFrame(np.random.rand(334,5) , index=np.arange(334))

In [13]:
newdf

            0         1         2         3         4
0    0.881949  0.050992  0.742907  0.889678  0.334197
1    0.865503  0.866821  0.466893  0.172349  0.806272
2    0.633660  0.579357  0.917991  0.278680  0.194056
3    0.184697  0.473801  0.569450  0.664681  0.685396
4    0.395017  0.423505  0.678090  0.780672  0.786397
..        ...       ...       ...       ...       ...
329  0.286800  0.929790  0.617467  0.131874  0.815169
330  0.063456  0.802353  0.536410  0.585543  0.680081
331  0.122539  0.053938  0.262615  0.514881  0.306938
332  0.842209  0.657822  0.975293  0.600314  0.860444
333  0.836566  0.795502  0.516658  0.299001  0.740967

[334 rows x 5 columns]

In [14]:
type(newdf)

pandas.core.frame.DataFrame

In [15]:
newdf.dtypes

0    float64
1    float64
2    float64
3    float64
4    float64
dtype: object

In [16]:
newdf.head()

          0         1         2         3         4
0  0.881949  0.050992  0.742907  0.889678  0.334197
1  0.865503  0.866821  0.466893  0.172349  0.806272
2  0.633660  0.579357  0.917991  0.278680  0.194056
3  0.184697  0.473801  0.569450  0.664681  0.685396
4  0.395017  0.423505  0.678090  0.780672  0.786397

In [17]:
newdf.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            324, 325, 326, 327, 328, 329, 330, 331, 332, 333],
           dtype='int64', length=334)

In [18]:
newdf.columns

RangeIndex(start=0, stop=5, step=1)

In [19]:
newdf.to_numpy()

array([[0.88194882, 0.05099151, 0.74290736, 0.88967824, 0.33419676],
       [0.8655034 , 0.86682087, 0.46689272, 0.17234887, 0.80627219],
       [0.63366034, 0.57935731, 0.91799144, 0.27868014, 0.19405574],
       ...,
       [0.12253852, 0.05393765, 0.262615  , 0.5148805 , 0.30693756],
       [0.84220944, 0.65782213, 0.97529348, 0.6003137 , 0.86044401],
       [0.83656584, 0.79550178, 0.51665826, 0.29900067, 0.74096673]])

In [20]:
newdf.T

,0,1,2,3,4,5,6,7,8,9,...,324,325,326,327,328,329,330,331,332,333
0,0.881949,0.865503,0.633660,0.184697,0.395017,0.443665,0.134462,0.054465,0.838997,0.641792,...,0.255650,0.843722,0.200070,0.886676,0.544979,0.286800,0.063456,0.122539,0.842209,0.836566
1,0.050992,0.866821,0.579357,0.473801,0.423505,0.739480,0.826746,0.020706,0.802962,0.624660,...,0.057946,0.570139,0.989787,0.975864,0.144141,0.929790,0.802353,0.053938,0.657822,0.795502
2,0.742907,0.466893,0.917991,0.569450,0.678090,0.649177,0.164983,0.751858,0.506433,0.390205,...,0.347366,0.328271,0.615045,0.973115,0.091432,0.617467,0.536410,0.262615,0.975293,0.516658
3,0.889678,0.172349,0.278680,0.664681,0.780672,0.317520,0.056485,0.474254,0.999756,0.265576,...,0.359576,0.477274,0.823461,0.752725,0.859116,0.131874,0.585543,0.514881,0.600314,0.299001
4,0.334197,0.806272,0.194056,0.685396,0.786397,0.833050,0.541122,0.939192,0.719962,0.289526,...,0.545145,0.538205,0.662151,0.242710,0.799923,0.815169,0.680081,0.306938,0.860444,0.740967

In [21]:
newdf.head()

          0         1         2         3         4
0  0.881949  0.050992  0.742907  0.889678  0.334197
1  0.865503  0.866821  0.466893  0.172349  0.806272
2  0.633660  0.579357  0.917991  0.278680  0.194056
3  0.184697  0.473801  0.569450  0.664681  0.685396
4  0.395017  0.423505  0.678090  0.780672  0.786397

In [22]:
newdf.sort_index( axis = 1, ascending = False)

            4         3         2         1         0
0    0.334197  0.889678  0.742907  0.050992  0.881949
1    0.806272  0.172349  0.466893  0.866821  0.865503
2    0.194056  0.278680  0.917991  0.579357  0.633660
3    0.685396  0.664681  0.569450  0.473801  0.184697
4    0.786397  0.780672  0.678090  0.423505  0.395017
..        ...       ...       ...       ...       ...
329  0.815169  0.131874  0.617467  0.929790  0.286800
330  0.680081  0.585543  0.536410  0.802353  0.063456
331  0.306938  0.514881  0.262615  0.053938  0.122539
332  0.860444  0.600314  0.975293  0.657822  0.842209
333  0.740967  0.299001  0.516658  0.795502  0.836566

[334 rows x 5 columns]

In [23]:
newdf2=newdf.copy()

In [24]:
newdf2.loc[0,0] = 654

In [25]:
newdf2.head(2)

            0         1         2         3         4
0  654.000000  0.050992  0.742907  0.889678  0.334197
1    0.865503  0.866821  0.466893  0.172349  0.806272

In [26]:
newdf.columns=list("ABCDE")

In [27]:
newdf.head(2)

          A         B         C         D         E
0  0.881949  0.050992  0.742907  0.889678  0.334197
1  0.865503  0.866821  0.466893  0.172349  0.806272

In [ ]:
newdf.loc[0,'A']=930

In [ ]:
newdf.head(2)

            A         B         C         D         E
0  930.000000  0.487310  0.465853  0.201914  0.326364
1    0.081115  0.544102  0.143746  0.214059  0.599882

In [ ]:
newdf.loc[0,0]=232

In [ ]:
newdf

              A         B         C         D         E      0
0    930.000000  0.487310  0.465853  0.201914  0.326364  232.0
1      0.081115  0.544102  0.143746  0.214059  0.599882    NaN
2      0.901891  0.883968  0.585382  0.226868  0.145198    NaN
3      0.319663  0.133108  0.496299  0.717779  0.739695    NaN
4      0.471123  0.756157  0.244587  0.422249  0.969028    NaN
..          ...       ...       ...       ...       ...    ...
329    0.897698  0.440991  0.766131  0.589002  0.544516    NaN
330    0.529966  0.014741  0.713679  0.390330  0.396023    NaN
331    0.812718  0.438612  0.853012  0.142451  0.403597    NaN
332    0.224648  0.984577  0.079590  0.819266  0.841383    NaN
333    0.587411  0.824117  0.975183  0.033286  0.209262    NaN

[334 rows x 6 columns]

In [ ]:
newdf.drop(0, axis=1)

              A         B         C         D         E
0    930.000000  0.487310  0.465853  0.201914  0.326364
1      0.081115  0.544102  0.143746  0.214059  0.599882
2      0.901891  0.883968  0.585382  0.226868  0.145198
3      0.319663  0.133108  0.496299  0.717779  0.739695
4      0.471123  0.756157  0.244587  0.422249  0.969028
..          ...       ...       ...       ...       ...
329    0.897698  0.440991  0.766131  0.589002  0.544516
330    0.529966  0.014741  0.713679  0.390330  0.396023
331    0.812718  0.438612  0.853012  0.142451  0.403597
332    0.224648  0.984577  0.079590  0.819266  0.841383
333    0.587411  0.824117  0.975183  0.033286  0.209262

[334 rows x 5 columns]

In [ ]:
newdf.loc[[1,2],['C','D']]

          C         D
1  0.143746  0.214059
2  0.585382  0.226868

In [ ]:
newdf.loc[[1,2],:]

          A         B         C         D         E   0
1  0.081115  0.544102  0.143746  0.214059  0.599882 NaN
2  0.901891  0.883968  0.585382  0.226868  0.145198 NaN

In [ ]:
newdf.loc[:,['C','D']]

            C         D
0    0.465853  0.201914
1    0.143746  0.214059
2    0.585382  0.226868
3    0.496299  0.717779
4    0.244587  0.422249
..        ...       ...
329  0.766131  0.589002
330  0.713679  0.390330
331  0.853012  0.142451
332  0.079590  0.819266
333  0.975183  0.033286

[334 rows x 2 columns]

In [ ]:
newdf.loc[(newdf['A']<0.3) & (newdf['C']>0.1)]

            A         B         C         D         E   0
1    0.081115  0.544102  0.143746  0.214059  0.599882 NaN
9    0.039087  0.188886  0.614519  0.465540  0.212653 NaN
12   0.299763  0.969218  0.733720  0.618143  0.211625 NaN
20   0.147301  0.816845  0.843599  0.367334  0.136065 NaN
22   0.177814  0.098347  0.947016  0.648911  0.761090 NaN
..        ...       ...       ...       ...       ...  ..
317  0.090150  0.635272  0.658227  0.737213  0.007092 NaN
320  0.251415  0.822018  0.420153  0.336376  0.697544 NaN
325  0.162311  0.915228  0.402068  0.995963  0.848142 NaN
327  0.092013  0.063084  0.568704  0.753429  0.191790 NaN
328  0.291410  0.939507  0.265290  0.514395  0.515320 NaN

[96 rows x 6 columns]

In [ ]:
newdf.iloc[0,4]

0.32636355807805995

In [ ]:
newdf.iloc[[0,5],[1,2]]

          B         C
0  0.487310  0.465853
5  0.101723  0.119801

In [ ]:
newdf.head(3)

            A         B         C         D         E      0
0  930.000000  0.487310  0.465853  0.201914  0.326364  232.0
1    0.081115  0.544102  0.143746  0.214059  0.599882    NaN
2    0.901891  0.883968  0.585382  0.226868  0.145198    NaN

In [ ]:
newdf.drop([0])

            A         B         C         D         E   0
1    0.081115  0.544102  0.143746  0.214059  0.599882 NaN
2    0.901891  0.883968  0.585382  0.226868  0.145198 NaN
3    0.319663  0.133108  0.496299  0.717779  0.739695 NaN
4    0.471123  0.756157  0.244587  0.422249  0.969028 NaN
5    0.854569  0.101723  0.119801  0.991717  0.280614 NaN
..        ...       ...       ...       ...       ...  ..
329  0.897698  0.440991  0.766131  0.589002  0.544516 NaN
330  0.529966  0.014741  0.713679  0.390330  0.396023 NaN
331  0.812718  0.438612  0.853012  0.142451  0.403597 NaN
332  0.224648  0.984577  0.079590  0.819266  0.841383 NaN
333  0.587411  0.824117  0.975183  0.033286  0.209262 NaN

[333 rows x 6 columns]

In [ ]:
newdf.drop(['A', 'C' ] , axis =1 , inplace=True)

KeyError: ignored

In [ ]:
newdf

            E      0
0    0.326364  232.0
1    0.599882    NaN
2    0.145198    NaN
3    0.739695    NaN
4    0.969028    NaN
..        ...    ...
329  0.544516    NaN
330  0.396023    NaN
331  0.403597    NaN
332  0.841383    NaN
333  0.209262    NaN

[334 rows x 2 columns]

In [ ]:
newdf.head(3)

          E      0
0  0.326364  232.0
1  0.599882    NaN
2  0.145198    NaN

In [ ]:
newdf.reset_index()

     index         E      0
0        0  0.326364  232.0
1        1  0.599882    NaN
2        2  0.145198    NaN
3        3  0.739695    NaN
4        4  0.969028    NaN
..     ...       ...    ...
329    329  0.544516    NaN
330    330  0.396023    NaN
331    331  0.403597    NaN
332    332  0.841383    NaN
333    333  0.209262    NaN

[334 rows x 3 columns]

In [ ]:
newdf.reset_index(drop=True, inplace=True)

In [ ]:
newdf

            E      0
0    0.326364  232.0
1    0.599882    NaN
2    0.145198    NaN
3    0.739695    NaN
4    0.969028    NaN
..        ...    ...
329  0.544516    NaN
330  0.396023    NaN
331  0.403597    NaN
332  0.841383    NaN
333  0.209262    NaN

[334 rows x 2 columns]

In [29]:
newdf.drop([0], axis=0, inplace=True)

In [30]:
newdf

            A         B         C         D         E
1    0.865503  0.866821  0.466893  0.172349  0.806272
2    0.633660  0.579357  0.917991  0.278680  0.194056
3    0.184697  0.473801  0.569450  0.664681  0.685396
4    0.395017  0.423505  0.678090  0.780672  0.786397
5    0.443665  0.739480  0.649177  0.317520  0.833050
..        ...       ...       ...       ...       ...
329  0.286800  0.929790  0.617467  0.131874  0.815169
330  0.063456  0.802353  0.536410  0.585543  0.680081
331  0.122539  0.053938  0.262615  0.514881  0.306938
332  0.842209  0.657822  0.975293  0.600314  0.860444
333  0.836566  0.795502  0.516658  0.299001  0.740967

[333 rows x 5 columns]

In [31]:
newdf.drop(['A','D'], axis=1, inplace=True)

In [32]:
newdf

            B         C         E
1    0.866821  0.466893  0.806272
2    0.579357  0.917991  0.194056
3    0.473801  0.569450  0.685396
4    0.423505  0.678090  0.786397
5    0.739480  0.649177  0.833050
..        ...       ...       ...
329  0.929790  0.617467  0.815169
330  0.802353  0.536410  0.680081
331  0.053938  0.262615  0.306938
332  0.657822  0.975293  0.860444
333  0.795502  0.516658  0.740967

[333 rows x 3 columns]

In [33]:
newdf['B'].isnull()

1      False
2      False
3      False
4      False
5      False
       ...
329    False
330    False
331    False
332    False
333    False
Name: B, Length: 333, dtype: bool

In [34]:
newdf['B']= None

In [35]:
newdf['B'].isnull()

1      True
2      True
3      True
4      True
5      True
       ...
329    True
330    True
331    True
332    True
333    True
Name: B, Length: 333, dtype: bool